.logo {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 5px grey;
}

.active {
    color: #f2f2f2;
    background-color: rgba(59, 59, 59, 0.8);
    box-shadow: 2px 2px 5px grey;
    border-radius: 3px 3px 3px 3px;
}

.search-container {
    float: right;
    margin-right: 6px;
}

.search {
    height: 20px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(128, 128, 128, 0.425);
}

.search:hover {
    box-shadow: 1px 1px 5px grey;
}

.searchBtn {
    height: 20px;
    border-radius: 1px 1px 1px;
}

.searchBtn:hover {
    box-shadow: 1px 1px 5px grey;
}